.default {
    background-color: #000000;
    border: none;
    color: white;
    padding: 6px 15px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.red {
    border: none;
    color: white;
    padding: 6px 15px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    background: red;
}
.default:disabled {
    background-color: rgba(0, 0, 0, 0.38);
    border: none;
    color: white;
    padding: 6px 15px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}